<h1>Editing Proyecto Patrocinador</h1>

<%= render 'form', proyecto_patrocinador: @proyecto_patrocinador %>

<%= link_to 'Show', @proyecto_patrocinador %> |
<%= link_to 'Back', proyecto_patrocinadors_path %>
